*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;   
    
}

.wrapper{
    width: 1000px;
    justify-content: space-between;
    margin: auto;
    position: relative;
}

.logo img{
    float: left;

}

.menu a{
    float: right;
}

nav{
    background: maroon; /*#3C415C*/
    border-bottom: black;
    display: flex;
    line-height: 100px;
    margin: auto;
    position: sticky;
    position: -webkit-sticky; /*untuk safari*/
    top: 0;
    width: 100%;
    
}

nav ul{
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li{
    float: left;
    margin-left: 5px;
}

nav ul li a{
    color:white;
    font-weight: bold;
    margin-left: 10px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    display: flex;
    margin:auto;
    margin-bottom: 5px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kontenimg-1 img{
    float: left;
}

.kolom .Deskripsi-1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    color: maroon;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: maroon;
}

a.log-button{
    border-radius: 10px;
    background-color:white;
    color: maroon;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}

a.log-button:hover{
    background: white;
    color: black;
    text-decoration: none;
}

a.location-1{
    border-radius: 10px;
    background-color:maroon;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}
a.location-1:hover{
    background-color:lightgrey;
    color: maroon;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 10px 10px ;
}

.kolom-1{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom-1 .Deskripsi-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    color: maroon;
}

a.location-2{
    border-radius: 10px;
    background-color:maroon;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
}
a.location-2:hover{
    background-color:lightgrey;
    color: maroon;
    text-decoration: none;
}
.tengah{
    text-align: center;
    width: 100%;    
}

.tengah .title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: maroon;
}

.rekomendasi-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.rekomendasi-1{
    margin:0 auto;
    width: 30%;
}

.rekomendasi-1 img{
    float: none;
    width: 80%;
}

.rekomendasi-1 h3{
    color: maroon;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
}

.rekomendasi-1 p{
    font-style: italic;
}

.rekomendasi-1 a{
    font-weight: bold;
    font-style: normal;
}

#kontak{
    background: maroon;
    padding: 50px 0px 50px 0px;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.footer-section img{
    float: left;
}

.footer-section p{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media screen and (max-width:999.98px){
    .wrapper{
        width: 90%;
    }

    .logo img{
        display: block;
        float: left;
        width: 50%;
    }

    nav menu{
        width: 50%;
        margin: 0;
    }

    nav .menu ul{
        line-height: 60px;
        margin: auto;
        text-align: center;
    }

    nav menu ul li{
        display: inline-block;
        float: none;
    }

    .kontenimg-1 img{
        display: block;
        width: 100%;
    }
    
    section{
        display: block;
    }

    section img{
        display: block;
        height: auto;
        width: auto;
    }

    .footer-section{
        width: 33.3%;
    }

    .footer-section img{
        display: block;
        width: 100%;
    }


}
